.section-about {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .vc_section {
    margin-right: 0;
    margin-left: 0;
  }
}
.person-name {
  font-size: 31px;
  font-weight: 300;
  font-style: italic;
}
.careers-sub-title {
  font-size: 31px;
  font-weight: 500;
  line-height: 1;
}
