.section-hero {
  overflow: hidden;
  position: relative;
  &.vertical-align {
    .container {
      position: relative;
      z-index: 10;
      min-height: 760px;
    }
  }
  img {
    position: absolute;
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    @include css3-prefix('transform', 'translate(-50%, -50%)');
  }
  a.btn,
  .btn {
    @include css3-prefix('box-shadow', '0 20px 27px rgba(0, 0, 0, 0.73)');
  }
}
  .hero-box {
    position: relative;
    z-index: 10;
    max-width: 520px;
    margin: 0 auto;
    color: $white;
  }
    .hero-title {
      font-family: $font-heading;
      font-weight: 400;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      .title {
        position: relative;
        font-size: 55px;
        line-height: .6;
        word-spacing: -.2em;
        &:after {
          position: absolute;
          content: '';
          width: calc(100% + 28px);
          height: 5px;
          left: -18px;
          bottom: 4px;
          background-color: $white;
        }
        span {
          font-size: 133px;
          &:last-child {
            letter-spacing: .02em;
          }
        }
      }
    }
    .sub-title {
      display: block;
      margin-top: -8px;
      font-size: 32px;
      font-family: $font-main;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .06em;
      word-spacing: -.1em;
    }
    .hero-btn-box {
      margin-top: 10px;
      text-align: center;
      a.btn,
      .btn {
        margin: 10px 15px;
      }
    }
.section-our-services {
  padding-top: 96px;
  padding-bottom: 74px;
  text-align: center;
}
.line {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: calc(100% + 40px);
    height: 2px;
    left: -20px;
    bottom: 12px;
    background-color: #2a425a;
    opacity: .6;
    .inverse & {
      background-color: $white;
      opacity: .6;
    }
  }
  &.left {
    &:after {
      left: 0;
    }
  }
  &.right {
    &:after {
      right: 0;
      left: auto;
    }
  }
}
.section-title {
  margin-bottom: 3px;
  display: inline-block;
  font-family: 'Hikou Rough';
  font-weight: 400;
  font-size: 54px;
  line-height: 1.25;
  letter-spacing: -.01em;
  color: $color-text4;
  text-transform: uppercase;
  &.left {
    text-align: left;
  }
  .inverse & {
    color: $white;
  }
  .section-our-services & {
    margin-bottom: 3px;
    text-align: center;
    font-family: $font-sfns;
    &.line {
      &:after {
        width: calc(100% + 20px);
        left: -40px;
      }
    }
  }
}

  .content-wrap {
    max-width: 773px;
    margin: 0 auto 38px;
  }
  .our-services-list {
    margin: 0 auto 20px;
    max-width: 800px;
    > li {
      display: inline-block;
      width: 33%;
      padding: 0 15px;
      margin-bottom: 25px;
      vertical-align: top;
    }
  }
    .our-services-box {
      max-width: 220px;
      margin: 0 auto;
      .content {
        line-height: 1.25;
      }
    }
      .our-services-icon-wrap {
        margin-bottom: 15px;
        height: 40px;
        vertical-align: middle;
      }
        .our-services-icon {
          font-size: 40px;
          line-height: 40px;
          color: #d18b2c;
          &.icon-icon_analytics {
            font-size: 23px;
          }
          &.icon-icon_mobile {
            font-size: 30px;
          }
          &.iicon-icon_search {
            font-size: 30px;
          }
          &.icon-icon_political {
            font-size: 39px;
          }
        }
        .our-services-title-wrap {
          margin-bottom: 4px;
          display: table;
          width: 100%;
          min-height: 34px;
        }
          .our-services-title {
            display: table-cell;
            width: 100%;
            height: 17px;
            min-height: 34px;
            font-family: $font-main;
            font-size: 14px;
            font-weight: 900;
            text-transform: uppercase;
            color: $color-text4;
            line-height: 1.25;
            vertical-align: middle;
          }
    .our-services-bottom-text {
      font-size: 14px;
      font-weight: 900;
      font-style: italic;
      text-transform: uppercase;
      color: $color-text5;
      letter-spacing: .05em;
    }

.section-home-case-studies {
  padding-top: 84px;
  padding-bottom: 111px;
  text-align: center;
  @include css3-prefix('background-image', 'radial-gradient(circle 454px at 49.18% 195.32%, rgba(0, 51, 78, 0.6) 0%, rgba(0, 72, 100, 0.99) 100%)');
  .section-title {
    margin-bottom: 8px;
  }
}
  .recent-case-post {
    height: 430px;
  }

.table-inner-box {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
}

.section-the-latest {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  @include bg(center, contain, no-repeat);
  .container {
    display: table;
    max-width: 1480px;
    min-height: 300px;
  }
  .left-box,
  .right-box {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  .table-inner-box {
    max-width: 300px;
  }
}

.section-our-clients {
  overflow: hidden;
  background: rgba(243,243,243,1);
  background: -moz-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 50%, rgba(121,162,46,1) 51%, rgba(121,162,46,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,243,243,1)), color-stop(50%, rgba(243,243,243,1)), color-stop(51%, rgba(121,162,46,1)), color-stop(100%, rgba(121,162,46,1)));
  background: -webkit-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 50%, rgba(121,162,46,1) 51%, rgba(121,162,46,1) 100%);
  background: -o-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 50%, rgba(121,162,46,1) 51%, rgba(121,162,46,1) 100%);
  background: -ms-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 50%, rgba(121,162,46,1) 51%, rgba(121,162,46,1) 100%);
  background: linear-gradient(to right, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 50%, rgba(121,162,46,1) 51%, rgba(121,162,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#79a22e', GradientType=1 );
  .container {
    display: table;
    max-width: 1480px;
    min-height: 300px;
  }
  .section-title {
    margin-bottom: 2px;
  }
  .content-wrap {
    margin-bottom: 34px;
  }
  .table-inner-box {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .left-box,
  .right-box {
    display: table-cell;
    vertical-align: middle;
  }
  .left-box {
    width: 66%;
    background-color: #f3f3f3;
  }
  .right-box {
    width: 34%;
    background-color: #79a22e;
    .table-inner-box {
      max-width: 350px;
    }
  }
}
  .our-clients-logo-list {
    margin: 0 20px -97px;
    text-align: center;
    > li {
      display: inline-block;
      padding: 0 50px;
      margin-bottom: 97px;
      vertical-align: middle;
      img {
        @include transition($transition-other);
      }
      a {
        &:hover,
        &:focus {
          img {
            opacity: .7;
          }
        }
      }
    }
  }

  .our-clients-list {
    > li {
      margin-bottom: 6px;
      font-size: 18px;
      font-weight: 400;
      color: $white;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $white;
        &:hover,
        &:focus {
          opacity: .7;
          text-decoration: none;
        }
      }
    }
  }
.section-contact-us {
  padding-top: 98px;
  padding-bottom: 268px;
  text-align: center;
  .section-title {
    margin-bottom: 2px;
  }
  .content-wrap {
    margin-bottom: 30px;
  }
  @include bg(center bottom, initial);
}
  .form-wrap {
    max-width: 502px;
    margin: 0 auto;
    text-align: left;
  }
  .form-list {
    counter-reset: my-badass-counter;
    > li {
      position: relative;
      margin-bottom: 24px;
      &:before {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        left: 0;
        top: 8px;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        text-align: center;
        content: counter(my-badass-counter);
        counter-increment: my-badass-counter;
        border: 1px solid #607284;
        @include border-radius(50%);
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
.form-btn-box {
  clear: both;
  margin-top: 40px;
  text-align: center;
}
  .submit-wrap {
    position: relative;
    display: inline-block;
    margin-left: 16px;
    &:after {
      position: absolute;
      right: 49px;
      top: 50%;
      content: "\e912";
      font-family: 'icomoon' !important;
      font-size: 20px;
      color: $color-text3;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include css3-prefix('transform', 'translate( 0, -50%)');
    }
  }