.section-study-list {
  position: relative;
  overflow: hidden;
  padding-top: 51px;
  padding-bottom: 125px;
  background-image: -webkit-linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 98%);
  background-image: -moz-linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 98%);
  background-image: -o-linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 98%);
  background-image: -ms-linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 98%);
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 98%);
  &:after,
  &:before {
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    left: 0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.65) 56%, rgba(246,246,246,0.22) 89%, rgba(237,237,237,0.07) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(30%, rgba(255,255,255,1)), color-stop(56%, rgba(255,255,255,0.65)), color-stop(89%, rgba(246,246,246,0.22)), color-stop(100%, rgba(237,237,237,0.07)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.65) 56%, rgba(246,246,246,0.22) 89%, rgba(237,237,237,0.07) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.65) 56%, rgba(246,246,246,0.22) 89%, rgba(237,237,237,0.07) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 30%, rgba(255,255,255,0.65) 56%, rgba(246,246,246,0.22) 89%, rgba(237,237,237,0.07) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 30%, rgba(255,255,255,0.65) 56%, rgba(246,246,246,0.22) 89%, rgba(237,237,237,0.07) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  }
  &:before {
    height: 200px;
    top: 0;
  }
  &:after {
    height: 150px;
    bottom: 0;
    @include css3-prefix('transform', 'rotate(180deg)');
  }
  .container {
    position: relative;
    z-index: 10;
    max-width: 1010px;
  }
}
  .study-filter {
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
    > li {
      position: relative;
      display: inline-block;
      margin-right: 1px;
      &:after {
        position: absolute;
        content: '';
        height: 100%;
        width: 1px;
        top: 0;
        right: -1px;
        background-color: #bebebe;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          content: none;
        }
      }
      a {
        display: inline-block;
        padding: 7px 13px 8px;
        font-size: 10px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        color: #bebebe;
        &:hover,
        &:focus {
          color: $color-text3;
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: #5e6666;
        }
      }
    }
  }
  .study-list {
    margin-top: 66px;
    > li {
      display: block;
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
.study-box {
  overflow: hidden;
  display: table;
  width: 100%;
  min-height: 250px;
  background-color: $white;
  box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.2);
  @include border-radius($radius-small);
}
    .study-left-box {
      overflow: hidden;
      //padding: 39px 60px 30px 30px;
      padding-left: 27px;
      padding-right: 60px;
    }
      .study-info-box {
        float: left;
        width: 208px;
        padding-top: 29px;
        padding-bottom: 30px;
        padding-right: 30px;
      }
        .study-logo-wrap {
          min-height: 127px;
        }
          .study-logo {
            max-width: 140px;
            margin-bottom: 5px;
            img {
              max-width: 100%;
              height: auto;
            }
          }
          a.study-logo-link,
          .study-logo-link {
            display: block;
            margin-top: -5px;
            font-family: $font-pt;
            font-weight: 700;
            font-size: 10px;
            color: #bebebe;
            &:hover,
            &:focus {
              color: $color-text3;
              text-decoration: none;
            }
          }
          .study-results {
            color: #79a22e;
            font-family: $font-main;
          }
            .study-results-box {
              position: relative;
              display: inline-block;
              padding-right: 30px;
              margin-left: -4px;
            }
              .study-value {
                font-size: 50px;
                line-height: 1;
                font-weight: 900;
              }
              .study-dimension {
                position: absolute;
                right: 5px;
                top: -5px;
                font-size: 29px;
                font-weight: 900;
              }
              .study-icon {
                position: absolute;
                right: 0;
                bottom: 6px;
                font-size: 10px;
              }
              .study-description {
                display: block;
                font-family: $font-pt;
                font-weight: 400;
                font-size: 12px;
                color: $color-text4;
              }
        .study-desc-box {
          overflow: hidden;
          padding-top: 39px;
          padding-bottom: 30px;
        }
          .study-purposes {
            display: block;
            font-size: 14px;
            font-weight: 600;
            color: #79a22e;
          }
          a.study-title,
          .study-title {
            display: block;
            margin-bottom: 18px;
            font-size: 20px;
            font-weight: 900;
            color: $color-text4;
            line-height: 1;
            &:hover,
            &:focus {
              text-decoration: none;
              color: $color-text3;
            }
          }
          .study-desc {
            display: block;
            margin-bottom: 10px;
            min-height: 74px;
            font-size: 14px;
            line-height: 1.25;
            word-spacing: .02em;
          }
          .study-tag {
            ul {
              line-height: 1;
              > li {
                display: inline-block;
                padding: 3px 5px;
                font-size: 10px;
                font-weight: 700;
                color: #4c5353;
                text-transform: uppercase;
              }
            }
          }
    .study-right-box {

    }
      .study-img-wrap {
        overflow: hidden;
        float: right;
        position: relative;
        width: 370px;
        min-height: 250px;
        @include bg();
        img {
          position: absolute;
          z-index: 1;
          min-height: 100%;
          min-width: 100%;
          width: auto;
          height: auto;
          top: 50%;
          left: 50%;
          @include css3-prefix('transform', 'translate(-50%, -50%)');
          opacity: 0;
        }
      }

.section-get-in-touch {
  padding-top: 25px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #79a22e;
}
.section-study {
  .container {
    max-width: 1030px;
    margin: 0 auto;
  }
  .container-small {
    max-width: 620px;
    margin: 0 auto;
  }
  .content {
    max-width: 620px;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 0;
    word-spacing: .05em;
  }
  .vc_section {
    margin-right: 0;
    margin-left: 0;
  }
}
.study-info {
  color: #bebebe;
  box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.2);
  @include css3-prefix('background-image', 'linear-gradient(270deg, #ffffff 0%, rgba(240, 240, 240, 0.85) 100%)');
  strong, b {
    font-weight: 900;
  }
  i {
    font-style: italic;
  }
}
.box-shadow {
  box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.2);
}
.section-related-case {
  padding-top: 55px;
  text-align: center;
  background-color: #f3f3f3;
  .container {
    max-width: 1086px;
  }
  .section-title {
    margin-bottom: 69px;
    font-size: 32px;
    color: #03263d;
    &.line {
      &:after {
        bottom: 6px;
      }
    }
  }
}
  .related-case-list {
    margin: 0 -14px 81px;
    text-align: center;
    > li {
      display: inline-block;
      width: 49%;
      padding: 0 14px;
      margin-bottom: 20px;
      vertical-align: top;
      a {
        &:hover,
        &:focus {
          .related-case-box {
            box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.5);
          }
          .proposes { }
          .related-case-title {
            color: $color-text3;
          }
          text-decoration: none;
        }
      }
    }
  }
    .related-case-box {
      display: block;
      overflow: hidden;
      background-color: $white;
      box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.2);
      @include border-radius(4px);
      @include transition($transition-other);
    }
      .related-case-img-box {
        overflow: hidden;
        position: relative;
        float: right;
        @include bg();
        width: 58%;
        min-height: 195px;
        img {
          position: absolute;
          z-index: 1;
          min-height: 100%;
          min-width: 100%;
          width: auto;
          height: auto;
          top: 50%;
          left: 50%;
          @include css3-prefix('transform', 'translate(-50%, -50%)');
          opacity: 0;
        }
      }
    .related-case-decs {
      overflow: hidden;
      display: block;
      padding: 48px 30px 42px;
      text-align: left;
    }
      .proposes {
        display: block;
        color: #79a22e;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.25;
      }
      .related-case-title {
        font-size: 20px;
        font-weight: 900;
        line-height: 1.25;
        color: $color-text4;
        @include transition($transition-link);
      }
.case-post-nav {
  display: table;
  width: 99.999%;
  margin: 0 auto;
  height: 150px;
  > li {
    position: relative;
    display: table-cell;
    width: 33.333%;
    padding: 0 10px;
    height: 50px;
    vertical-align: middle;
    &:first-child {
      text-align: right;
      padding-right: 76px;
      a {
        padding: 2px 0;
      }
    }
    &:last-child {
      text-align: left;
      padding-left: 76px;
      a {
        padding: 2px 0;
      }
    }
    &.center {
      padding: 0 30px;
      &:before,
      &:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        top: 0;
        @include css3-prefix('background-image', 'linear-gradient(to right, rgba(238, 238, 238, 0) 0%, #d8d8d8 100%)');
        opacity: 0.4;
      }
      &:before {
        left: -22px;
      }
      &:after {
        right: -22px;
        @include css3-prefix('transform', 'rotate(180deg)');
      }
      a {
        display: inline-block;
      }
    }
    a {
      display: block;
      &:hover,
      &:focus {
        text-decoration: none;
        .case,
        .case-post-title {
          color: $color-text3;
        }
        .case {
          &:after,
          &:before {
            color: $color-text3;
          }
        }
      }
    }
  }
  a.btn-green-inverse,
  .btn-green-inverse {
    color: $color-text4;
    padding-left: 21px;
    padding-right: 21px;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
  .case {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: $color-text4;
    text-transform: uppercase;
    @include transition($transition-link);
    &:after,
    &:before {
      position: absolute;
      content: "\f0d9";
      font-family: FontAwesome;
      font-size: 24px;
      line-height: 1;
      text-indent: 0;
      width: 9px;
      height: 24px;
      top: -3px;
      color: #bebebe;
      @include transition($transition-link);
    }
    &:after {
      left: -25px;
    }
    &:before {
      left: -15px;
    }
    &.case-next {
      &:after,
      &:before {
        @include css3-prefix('transform', 'rotate(180deg)');
      }
      &:after {
        right: -25px;
        left: auto;
      }
      &:before {
        right: -15px;
        left: auto;
      }
    }
  }
  .case-post-title {
    display: block;
    color: #03263d;
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    @include transition($transition-link);
  }