a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 160px;
  margin: 0;
  padding: 18px 29px 17px;
  background-color: $color-bg2;
  background-color: rgba(209, 139, 44, 1);
  border: 1px solid #d18b2c;
  font-family: $font-main;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 900;
  color: $white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  @include border-radius($radius-small);
  &:hover,
  &:focus {
    border-color: rgba(209, 139, 44, .7);
    background-color: rgba(209, 139, 44, .7);
  }
  .icon {
    padding-left: 11px;
    color: $color-bg2;
    @include transition($transition-link);
  }
  .icon-icon_glasses {
    font-size: 13px;
  }
  .icon-icon_paperplane_green {
    font-size: 20px;
  }
}
a.btn-blue,
.btn-blue {
  background-color: $color-bg3;
  background-color: rgba(42, 66, 90, 1);
  border-color: $color-bg3;
  &:hover,
  &:focus {
    border-color: rgba(42, 66, 90, .7);
    background-color: rgba(42, 66, 90, .7);
  }
}
a.btn-green-inverse,
.btn-green-inverse{
  padding-left: 34px;
  padding-right: 34px;
  border-color: #79a22e;
  background-color: transparent;
  &:hover,
  &:focus {
    border-color: #79a22e;
    background-color: #79a22e;
    opacity: 1;
  }
}
a.btn-grey-inverse,
.btn-grey-inverse {
  padding-left: 27px;
  padding-right: 27px;
  border-color: #5e6666;
  color: #5e6666;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $white;
    border-color: #5e6666;
    background-color: #5e6666;
    opacity: 1;
    .icon {
      color: $white;
    }
  }
}
.btn-go-top,
a.btn-go-top {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 55px;
  text-align: center;
  background-color: $white;
  background-color: rgba(255, 255, 255, .2);
  @include css3-prefix('transform', 'translate( -50%, 0)');
  .icon {
    color: $white;
    @include transition($transition-other);
    &:before {
      font-size: 10px;
      @include transition($transition-other);
    }
  }
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, .7);
    .icon {
      &:before {
        color: $color-text3;
      }
    }
  }
}
a.btn-go-bottom,
.btn-go-bottom {
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: 50%;
  display: block;
  width: 30px;
  height: 55px;
  text-align: center;
  background-color: #2B4259;
  @include css3-prefix('transform', 'translate( -50%, 0)');
  .icon {
    position: relative;
    top: 24px;
    left: 1px;
    color: $white;
    @include transition($transition-other);
    &:before {
      font-size: 10px;
      @include transition($transition-other);
    }
  }
  &:hover,
  &:focus {
    text-decoration: none;
    .icon {
      &:before {
        color: $color-text3;
      }
    }
  }
}

.btn-political a {
  color: $white;
  border: 1px solid $white;
  &:hover,
  &:focus {
    color: $color-text3;
    background-color: $white;
  }
  .home & {
    color: $color-nav;
    border-color: transparent;
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  #footer & {
    margin-left: 16px;
    padding: 8px 29px 9px;
    color: $white;
    border-color: $white;
    border-color: rgba(255, 255, 255, 0.3);
    &:hover,
    &:focus {
      color: $color-text3;
      background-color: $white;
      border-color: rgba(255, 255, 255, 1);
    }
  }
}
a.btn-jump-to-content,
.btn-jump-to-content {
    position: absolute;
    display: block;
    width: 300px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 15px;
    font-family: $font-sfns;
    font-size: 20px;
    color: $color-text;
    text-align: center;
    background: $white;
    z-index: -9999;
    @include css3-prefix('box-shadow', '0 1px 15px rgba(0, 0, 0, 0.1)');
    opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 9999;
    text-decoration: none;
  }
}

a.btn-submit,
.btn-submit {
  padding-left: 27px;
  padding-right: 55px;
  min-width: auto;
  border-color: #5e6666;
  color: #5e6666;
  background-color: transparent;
  &:hover,
  &:focus {
    color: $white;
    border-color: #5e6666;
    background-color: #5e6666;
    opacity: 1;
    .icon {
      color: $white;
    }
  }
}