/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; @include font(); background: $color-bg1; color: $color-text4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
  padding:0;
  margin:0;
  list-style:none;
}

select, input, textarea        { font-family: $font-main; font-size:$size-input; vertical-align:middle; color:$color-text; }
textarea                       { vertical-align:top; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-family: $font-main; color: $color-text3; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: $bold;
}
a, .btn {
  @include transition($transition-link);
}
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.vertical-align {
  .container {
    display: table;
    width: 100%;
    height: 494px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-box {
    display: table-cell;
    width: 100%;
    min-height: 50px;
    vertical-align: middle;
  }
}

.content {
  line-height: 1.4;
  letter-spacing: -.02em;
  word-spacing: .16em;
   * {
    margin-bottom: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-family: 'Hikou Rough';
    font-weight: 400;
    line-height: 1.1;
  }
  a {
    color: $color-text3;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  ul, ol {
    padding-left: 40px;
    li {
      list-style-type: disc;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  strong, b {
    font-weight: 900;
  }
  i {
    font-style: italic;
  }
  blockquote {
    position: relative;
    margin-top: 20px;
    padding-top: 70px;
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 23px;
    color: #03263d;
    font-style: italic;
    line-height: 1.25;
    word-spacing: -.05em;
    * {
      position: relative;
      z-index: 10;
      margin-bottom: 0;
    }
    img {
      margin-bottom: 13px !important;
      @include border-radius(50%);
    }
    &:after,
    &:before {
      position: absolute;
      content: '';
      left: 50%;
      @include css3-prefix('transform', 'translate(-50%, 0)');
    }
    &:before {
      z-index: 5;
      top: 0;
      width: 128px;
      height: 112px;
      background-image: url(../../img/icon_quotes@2x.png);
      @include bg();
    }
    &:after {
      z-index: 7;
      top: 26px;
      width: 227px;
      height: 1px;
      background-color: #79a22e;
    }
  }
  img {
    max-width: 100%;
    height: auto;
    box-shadow: -20px 10px 50px rgba(0, 0, 0, 0.2);
    @include border-radius($radius-small);
    &.alignleft {
      float: left;
      margin: -6px 26px 12px 0;
    }
    &.alignright {
      float: right;
      margin: -6px 0 12px 26px;
    }
    &.aligncenter{
      display: block;
      margin: -6px auto 35px;
      clear: both;
    }
  }
  .inverse & {
    color: $white;
  }
  .content-wrap & {
    font-size: 23px;
    word-spacing: .1em;
    line-height: 1.17;

  }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -436px;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 436px;
  }
}