/*--------------------------------------NAV-----------------------------------------*/
.main-nav {

}
.main-nav {
  float: right;
  padding-top: 16px;
  margin-right: 15px;
  > ul {
    text-align: center;
    > li {
      position: relative;
      display: inline-block;
      text-align: center;
      a {
        position: relative;
        display: inline-block;
        padding: 5px 14px;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        font-weight: $bold;
        @include css3-prefix('transition', '0.2s');
        .home &,
        .scrolling & {
          color: $color-nav;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          //  color: $color-text3;
          //  body:not(.home) &,
          //  .header:not(.scrolling) &,
          //  body:not(.page-template-page-service) &,
          //  body:not(.single-service) & {
          //    color: $color-nav;
        }
      }
    }
  }

  a:focus,
  a:hover,
  .current-menu-item > a,
  .current-menu-ancestor > a {
    .home &,
    .scrolling &,
    .single-service &,
    .page-template-page-service & {
      color: $color-text3;
    }
    color: $color-nav;
  }
}
  .single-study .main-nav .menu-item-24 > a,
  .single-post .main-nav .menu-item-23 > a {
    color: $color-nav;
  }
  .single-service .main-nav .menu-item-25 > a {
    color: $color-text3;
  }
  .single-study .footer-menu > .menu-item-34 > a,
  .single-post .footer-menu > .menu-item-33 > a,
  .single-service .footer-menu > .menu-item-35 > a {
    color: $color-text3;
  }
    //color: $color-text3;
    //text-decoration: none;
    //body:not(.home) &,
    //.header:not(.scrolling) &,
    //body:not(.page-template-page-service) &,
    //body:not(.single-service) & {
    //  color: $color-nav;
    //}
    //.home &,
    //.scrolling & {
    //  color: $color-text3;
    //  text-decoration: none;
    //}
  //}

.mobile-menu {
  padding-bottom: 20px;
  > li {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(42, 66, 90, .4);
    &:last-child {
      border-bottom: none;
    }
    a {
      position: relative;
      display: block;
      text-transform: capitalize;
      padding: 10px 25px 8px;
      color: $color-nav;
      font-size: 16px;
      font-weight: 700;
    }
  }
  > .current-menu-item > a,
  > li > a:hover {
    color: $color-text3;
    text-decoration: none;
  }
  .expanded:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    margin-top: -8px;
    right: 10px;
    display: inline-block;

  }
  &:hover:after {
    color: #0097de;
  }
  &.open:after {
    content: "\f106";
  }
}
.single-study .mobile-menu > .menu-item-24 > a,
.single-post .mobile-menu > .menu-item-23 > a,
.single-service .mobile-menu > .menu-item-25 > a {
  color: $color-text3;
  text-decoration: none;
}

.header-btn-box {
  overflow: hidden;
  float: right;
  margin-top: 2px;
}

.main-nav .sub-menu {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: -25px;
  min-width: 100%;
  padding: 10px 0;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  @include css3-prefix('transition', 'all .2s ease-in-out');
  .home & {
    background-color: $white;
    @include css3-prefix('box-shadow', '0 1px 15px rgba(0, 0, 0, 0.1)');
  }
  .scrolling & {
    background-color: $white;
    @include css3-prefix('box-shadow', '0 1px 15px rgba(0, 0, 0, 0.1)');
  }
}

.main-nav {
  ul {
    > li:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      margin: 0;
    }
  }
  .sub-menu {
    li {
      display: block;
      min-width: 220px;
    }
    a {
      display: block;
      padding: 5px 20px 5px 25px;
      text-transform: uppercase;
    }
    a:hover,
    .current-menu-item a {
      text-decoration: none;
    }
  }
}

.main-nav .sub-menu .sub-menu,
.mobile-menu .sub-menu .sub-menu {
  display: none;
}

.mobile-menu .sub-menu {
  display: block;
  padding-left: 20px;
  a {
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
  }
  .sub-menu  {
    padding-left: 45px;
  }
}
