/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {

}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1080px) {
  .section-contact-page {
    .form-list {
      float: none;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      > li {
        max-width: 100%;
      }
      &.right {
        margin-top: 21px;
        padding-right: 1px;
        padding-left: 1px;
        > li {
          float: none;
          max-width: 100%;
        }
      }
    }
  }
  .form-page-wrap {
    max-width: 502px;
  }
}

@media all and (max-width: 1024px) {
  .location-title {
    font-size: 32px;
  }
  .location {
    font-size: 19px;
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {

}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
  .wrapper {
    margin-top: 65px;
  }
  .container {
    max-width: 320px;
    padding: 0 15px;
  }
  .section-contact-page .container,
  .section-location .container {
    max-width: 320px;
  }
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  .header,
  .header.scrolling {
    min-height: 65px;
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .logo {
    margin-top: 15px;
    max-width: 197px;
  }
  .footer-menu {
    > li {
      margin-bottom: 10px;
    }
  }
  #footer {
    padding-top: 90px;
    padding-bottom: 40px;
    .btn-political a {
      margin-left: 0;
    }
  }
  .address-list {
    display: none;
  }
  .copyright {
    float: none;
    text-align: center;
    font-size: 11px;
  }
  .footer-social-list {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-top: 6px;
  }
/*----------HOME-------------*/
  .section-hero.vertical-align .container {
    min-height: 450px;
  }
  .hero-box {
    max-width: 320px;
    .title {
      font-size: 30px;
      span {
        font-size: 70px;
      }
    }
  }
  .sub-title {
    font-size: 20px;
  }
  .content-wrap .content {
    font-size: 19px;
  }
  .section-title {
    font-size: 38px;
  }
  .section-our-services .section-title.line:after {
    left: 30px;
  }
  .line {
    &:after {
      bottom: 7px;
    }
  }
  .section-our-services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
    .our-services-list {
      > li {
        width: 100%;
        margin-bottom: 40px;
      }
    }
    .our-services-icon-wrap {
      margin-bottom: 2px;
    }
    .our-services-title,
    .our-services-bottom-text {
      font-size: 13px;
    }
    .content {
      font-size: 16px;
    }

  .location-list {
    > li {
      width: 100%;
    }
  }
}

@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {

}

@media all and (max-width: 600px) {

}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 420px) {

}

@media all and (max-width: 380px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 350px) {

}