/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}
@media all and (min-width: 1680px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {
  .vc_row {
    &.research {
      background-size: auto 100% !important;
    }
  }
}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1080px) {
  .section-contact-page {
    .form-list {
      float: none;
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      > li {
        max-width: 100%;
      }
      &.right {
        margin-top: 21px;
        padding-right: 1px;
        padding-left: 1px;
        > li {
          float: none;
          max-width: 100%;
        }
      }
    }
  }
  .section-contact-page {
    text-align: center;
    .container {
      max-width: 542px;
    }
    .line.left:after {
      left: -20px;
    }
  }
  #sidebar {
    max-width: 220px;
  }
  .content-box-wrap {
    max-width: calc(100% - 220px);
    padding-right: 40px;
  }
  .section-our-clients {
    .left-box, .right-box {
      width: 50%;
    }
  }
  .our-clients-logo-list {
    > li {
      display: inline-block;
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }
  .section-our-clients .right-box .table-inner-box {
    margin: 0 auto;
  }
  .our-clients-logo-list {
    margin-bottom: -40px;
  }
  .main-nav > ul > li a {
    padding-right: 12px;
    padding-left: 12px;
  }
}


@media all and (max-width: 1024px) {
  .header {
    background-color: #ffffff;
    .light {
      display: none !important;
    }
    .dark {
      display: block !important;
    }
  }
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  .header {
    &,
    &.scrolling,
    .no-js &,
    html:not(.js) & {
      min-height: 65px;
      padding-top: 6px;
      padding-bottom: 2px;
    }
    .container {
      max-width: 100%;
    }
  }
  .logo {
    float: right;
    max-width: 235px;
    margin-left: 0;
    margin-right: -19px;
  }
  .location-title {
    font-size: 32px;
  }
  .location {
    font-size: 19px;
  }
  .section-blog-list {
    .section-title {
      font-size: 62px;
      &.line:after {
        border-bottom: 12px;
      }
    }
  }
  .post-title,
  h2.post-title{
    font-size: 29px;
  }
  .section-blog {
    padding-top: 60px;
    padding-bottom: 100px;
  }
    .blog-title,
    h2.blog-title {
      font-size: 40px;
    }
    .share-btn-list {
      > li {
        a {
          .fa {
            font-size: 24px;
          }
          .fa-facebook {
            font-size: 26px;
          }
          .fa-twitter {
            font-size: 29px;
          }
        }
      }
    }
  .author,
  .post-date {
    font-size: 18px;
  }
  .section-service {
    padding-top: 60px;
    padding-bottom: 80px;
  }
    .service-title {
      font-size: 62px;
    }
      .service-sub-title {
        font-size: 29px;
      }
  .study-left-box {
    padding-left: 20px;
    padding-right: 20px;
  }
    .study-info-box {
      width: 170px;
    }
      .study-results {
        max-width: 140px;
      }
      .study-tag {
        left: 186px;
      }
    .study-description {
      line-height: 1;
    }
  .section-about {
    .section-title {
      font-size: 62px;
    }
  }
  .person-name,
  .careers-sub-title {
    font-size: 29px;
  }
  .content {
    h1 { font-size: 32px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    h4 { font-size: 24px; }
    h5 { font-size: 22px; }
    h6 { font-size: 20px; }
    &.big-text {
      font-size: 21px;
    }
    &.biggest-text {
      font-size: 26px;
    }
  }
  .case-post-nav {
    width: 100%;
    > li {
      width: 35%;
      &.center {
        width: 30%;
        padding: 0 15px;
      }
      &:first-child {
        padding-right: 50px;
      }
      &:last-child {
        padding-left: 50px;
      }
    }
  }
  .case-post-title {
    font-size: 18px;
  }
  .related-case-img-box {
    width: 50%;
  }
  .related-case-decs {
    line-height: 1.25;
    padding: 30px 20px 30px;
  }
  .proposes {
    font-size: 13px;
  }
  .related-case-title {
    font-size: 18px;
  }
  .services-box {
    .vc_column-inner {
      padding: 40px 15px !important;
      .wpb_wrapper {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }
  .vc_row {
  &.research {
    background: $white;
    background-image: none !important;
    }
  }
  .hide-box {
    display: none !important;
  }
  .section-services-list {
    .vc_col-sm-6 {
      width: 100%;
    }
    .vc_custom_1500040202424,
    .vc_custom_1500275746119 {
      background-size: cover !important;
    }
  }
}


@media all and (max-width: 991px) {
  .content {
    img {
      &.alignleft,
      &.alignright,
      &.aligncenter{
        float: none;
        max-width: 100%;
        display: block;
        margin: -6px auto 35px;
        clear: both;
      }
    }
  }
}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {
  .post-img-wrap + .post-desc-box {
    padding-left: 30px;
  }
  .study-img-wrap {
    width: 250px;
  }
  .our-clients-logo-list > li {
    width: 100%;
    padding: 0;
  }
}

@media all and (max-width: 790px) {

}

@media all and (max-width: 768px) {

}

@media all and (max-width: 767px) {
  .wrapper {
    margin-top: 65px;
  }
  .container {
    //max-width: 320px;
    padding: 0 15px;
  }
  .hero-box {
    max-width: 320px;
  }
  .section-related-case,
  .section-blog-list,
  .section-our-clients,
  .section-contact-page,
  .section-location,
  .section-blog,
  .section-service,
  .section-about,
  .section-study,
  .section-study-list,
  .section-the-latest {
    //.container {
    //  max-width: 320px;
    //}
  }
  .logo {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .header-search-box {
    display: block;
  }
  .header .container {
    padding: 0 65px;
  }
  .section-contact-page {
    padding-top: 60px;
  }
  .footer-menu {
    > li {
      margin-bottom: 10px;
    }
  }
  #footer {
    padding-top: 90px;
    padding-bottom: 40px;
    .btn-political a {
      margin-left: 0;
    }
  }
  .address-list {
    display: none;
  }
  .copyright {
    float: none;
    text-align: center;
    font-size: 11px;
  }
  .footer-social-list {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-top: 6px;
  }
  /*----------HOME-------------*/
  .section-hero {
    padding-top: 0;
  }
  .section-hero.vertical-align .container {
    min-height: 450px;
  }
  .hero-box {
    .title {
      font-size: 30px;
      span {
        font-size: 70px;
      }
    }
  }
  .sub-title {
    font-size: 20px;
  }
  .content-wrap .content {
    font-size: 19px;
  }
  .section-title,
  h2.section-title {
    font-size: 38px !important;
  }
  .section-our-services .section-title.line:after {
    left: 30px;
  }
  .line {
    &:after {
      bottom: 3px;
    }
  }
  .section-our-services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .our-services-list {
    > li {
      width: 49%;
      margin-bottom: 40px;
    }
  }
  .our-services-icon-wrap {
    margin-bottom: 2px;
  }
  .our-services-title,
  .our-services-bottom-text {
    font-size: 13px;
  }
  .content {
    font-size: 16px;
    blockquote {
      padding-top: 55px;
      font-size: 19px;
    }
    &.small-text {
      font-size: 13px;
    }
    &.big-text {
      font-size: 19px;
    }
    &.biggest-text {
      font-size: 24px;
    }
  }

  .location-list {
    text-align: left;
    > li {
      width: 49%;
    }
  }
  .section-page-banner {
    .container {
      max-width: 100%;
    }
    &.vertical-align .container {
      height: 340px;
    }
  }
  .banner-box {
    padding: 0;
  }
  .banner-table {
    max-width: 320px;
    margin: 0 auto;
    padding: 70px 0 0;
  }
  .banner-title {
    font-size: 46px;
    &.line {
      &:after {
        bottom: 3px;
      }
    }
  }
  .short-info {
    font-size: 20px;
  }
  .section-location {
    padding-bottom: 60px;
  }
  .location-list {
    margin-bottom: 20px;
  }
  .location-title {
    margin-bottom: 2px;
    font-size: 26px;
  }
  .location {
    font-size: 17px;
  }
  .section-blog-list {
    .section-title {
      font-size: 52px;
      &.line:after {
        bottom: 2px;
      }
    }
  }
  .post-list {
    > li {
      margin-bottom: 70px;
    }
  }
  .post-img-wrap {
    max-width: 200px;
    img {
      width: 100%;
      height: auto;
    }
  }
    .post-date {
      margin-top: 2px;
      font-size: 16px;
      text-align: left;
    }
      .post-title,
      h2.post-title {
        margin-bottom: 4px;
        font-size: 26px;
      }
      .post-desc {
        font-size: 16px;
      }
  .section-blog {
    padding-bottom: 120px;
    .container {
      position: relative;
    }
    .share-box {
      float: none;
      position: absolute;
      bottom: -60px;
      left: 15px;
    }
  }
    .blog-img-wrap {
      height: 200px;
    }
    .blog-info-box {
      margin-bottom: 10px;
    }
  .blog-title,
  h2.blog-title {
    font-size: 28px;
  }
  .share-btn-list {
    > li {
      a {
        .fa {
          font-size: 24px;
        }
        .fa-facebook {
          font-size: 26px;
        }
        .fa-twitter {
          font-size: 29px;
        }
      }
    }
  }
  .author,
  .post-date {
    font-size: 14px;
  }
  .section-service {
    padding-top: 60px;
    padding-bottom: 80px;
  }
    .content-box-wrap {
      float: none;
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 40px;
    }
      .service-title {
        margin-bottom: 4px;
        font-size: 52px;
      }
      .service-sub-title {
        margin-bottom: 4px;
        font-size: 26px;
      }
  #sidebar {
    float: none;
    max-width: 100%;
    margin: 0 auto;
  }
  .widget > h4 {
    font-size: 18px;
    padding-bottom: 8px;
  }
  .section-study-list {
    padding-top: 40px;
    padding-bottom: 75px;
  }
  .study-img-wrap {
    display: block;
    width: 100%;
    float: none;
    height: 180px !important;
    min-height: 180px;
  }
  .study-left-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }
    .study-logo-wrap {
      min-height: auto;
      padding-right: 130px;
    }
      .study-logo {
        max-width: 130px;
        height: auto;
        line-height: 1;
      }
    .study-info-box {
      position: relative;
      float: none;
      width: 100%;
      padding: 10px 0 10px;
    }
    .study-results {
      overflow: hidden;
      position: absolute;
      top: 5px;
      //left: 150px;
      left: auto;
      right: 10px;
      bottom: auto;
      max-width: 120px;
    }
      .study-results-box {
        margin-left: 0;
      }
      .study-tag {
        left: 6px;
        bottom: 10px;
        max-width: 100%;
      }
    .study-desc-box {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  .study-list {
    margin-top: 35px;
    margin: 0 -10px;
    > li {
      display: inline-block;
      width: 49%;
      padding: 0 10px;
      margin-bottom: 24px;
      vertical-align: top;
    }
  }

  .section-home-case-studies {
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .recent-case-post {
    margin: 140px auto 140px;
    padding-top: 0;
    padding-bottom: 0;
    > li {
      position: relative;
      z-index: 5;
      opacity: .6;
      &:first-child {
        z-index: 10;
        opacity: 1;
      }
      &:nth-child(2),
      &:nth-child(3) {
        max-width: 290px;
        position: absolute;
        margin: 0;
        .study-desc {
          overflow: hidden;
          max-height: 60px;
        }
        .study-tag {
          overflow: hidden;
          max-height: 40px;
        }
        a.study-title, .study-title {
          max-height: 20px;
        }
        .study-img-wrap {
          min-height: 140px;
        }
      }
      &:nth-child(2) {
        top: -100px;
        left: -100px;
      }
      &:nth-child(3) {
        top: 100px;
        bottom: auto;
        right: -100px;
      }
    }
  }
  .section-the-latest {
    padding-top: 60px;
    padding-bottom: 160px;
    .container {
      position: relative;
      display: block;
    }
    .right-box,
    .left-box {
      display: block;
      width: 100%;
      .table-inner-box {
        padding: 0;
      }
    }
    .our-clients-logo-list {
      > li {
        width: 49%;
        padding: 0 10px;
      }
    }
    .left-box {

    }
    a.btn-grey-inverse, .btn-grey-inverse {
      width: 200px;
      position: absolute;
      z-index: 1;
      bottom: -90px;
      left: 50%;
      @include css3-prefix('transform', 'translate(-50%, 0)');
    }
  }
  .recent-blog-post {
    max-width: 100%;
    margin: 0 auto;
    > li {
      display: inline-block;
      width: 49%;
      padding: 0 15px;
      .recent-blog-box {
        max-width: 320px;
        margin: 0 auto;
      }
      &:nth-child(odd) {
        left: auto;
      }
    }
  }
  .recent-blog-box {
    height: auto;
    .f-coll {}
    .s-coll {
      display: none;
      position: absolute;
      width: 300px;
      left: 200px;
      top:0;
    }
  }
  .f-coll.copy {
    display: none;
  }
  .wrapper {
    overflow: hidden;
  }
  .section-our-clients {
    background: #f3f3f3;
    .table-inner-box {
      position: relative;
      z-index: 10;
    }
    .left-box,
    .right-box {
      position: relative;
      width: 100%;
    }
    .left-box {
      display: table-footer-group;
    }
    .right-box {
      &:after {
        position: absolute;
        z-index: 5;
        content: '';
        width: 500%;
        height: 100%;
        top: 0;
        left: -150%;
        background-color: #79a22e;
      }
    }
  }
  .our-clients-list > li {
    font-size: 16px;
  }
  .section-about {
    //* {
    //  padding-left: 0 !important;
    //  padding-right: 0 !important;
    //}
    //.content {
    //
    //}
  }
  .current-positions > div {
    padding-left: 0 !important;
  }
  .section-about,
  .section-study {
    .vc_column_container > .vc_column-inner {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .section-about {
    .section-title {
      font-size: 46px;
      &.line:after {
        bottom: 2px;
      }
    }
  }
  .person-name,
  .careers-sub-title {
    font-size: 24px;
  }
  .content {
    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    h3 { font-size: 24px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
    h6 { font-size: 18px; }
  }
  .section-related-case {
    padding-bottom: 20px;
  }
  .case-post-nav {
    display: block;
    height: auto;
    > li {
      display: block;
      width: 100%;
      padding: 0 !important;
      margin-bottom: 36px;
      &.center {
        width: 100%;
        margin-bottom: 27px;
        &:before,
        &:after {
          width: 100%;
          height: 10px;
          @include css3-prefix('background-image', 'linear-gradient(to bottom, rgba(238, 238, 238, 0) 0%, #d8d8d8 100%)');
        }

        &:before {
          top: -24px;
          left: 0;
        }
        &:after {
          top: auto;
          bottom: -24px;
          left: 0;
          right: auto;
        }
      }
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  .case-prev {
    margin-left: 25px;
  }
  .case-next {
    margin-right: 25px;
  }
  .section-related-case .section-title {
    margin-bottom: 40px;
    font-size: 30px !important;
  }
  .related-case-list {
    margin-bottom: 50px;
    > li {
      margin-bottom: 30px;
      width: 100%;
    }
  }
    .related-case-img-box {
      display: block;
      width: 100%;
      min-height: 140px;
      height: auto !important;
    }
  .services-box {
    .vc_column-inner {
      padding: 40px 15px !important;
      .wpb_wrapper {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        br {
          display: none;
        }
      }
    }
  }
  .section-services-list {
    .title {
      font-size: 30px;
    }
    .vc_custom_1499891629119 {
      padding-top: 60px !important;
      padding-bottom: 60px !important;
    }
    & .client.container {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  .section-services-list .box {
    font-size: 16px;
  }
  .section-leadership {
    .wpb_text_column {
      text-align: center;
    }
  }
  .section-related-case {
    display: none;
  }
  .section-study {
    .vc_section {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .section-services-list .vc_row {
    background-size: cover !important;
  }
  .case-mobile {
    display: block;
  }
  .case-desktop,
  .recent-case-post {
    display: none;
  }
}


@media (max-width: 767px) and (max-height: 480px) {

}
@media all and (max-width: 736px) {

}

@media all and (max-width: 640px) {
  .modal-popup {
    padding-left: 20px;
    padding-right: 20px;
  }
    .modal-title {
      font-size: 48px;
    }
  .modal-content {
    display: block;
  }
  .left-modal-box,
  .right-modal-box {
    display: block;
    width: 100%;
    height: auto;
  }
  .right-modal-box {
    height: auto;
    max-width: 320px;
    margin: 0 auto 20px;
    .left-modal-box + & {
      padding-top: 0;
    }
  }
  .post-img-wrap {
    float: none;
    margin-bottom: 12px;
    max-width: 100%;
    text-align: center;
    width: 100%;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
  .post-img-wrap + .post-desc-box {
    padding: 0;
  }
  .recent-blog-post {
    > li {
      width: 100%;
      padding: 0;
    }
  }
  .study-list {
    > li {
      display: block;
      margin: 0 auto 40px;
      width: 100%;
      max-width: 420px;
    }
    .study-box {
      height: auto !important;
    }
  }
}

@media all and (max-width: 580px) {

}

@media all and (max-width: 560px) {
  .section-page-banner{
    &.vertical-align {
      .container {
        height: 280px;
      }
    }
  }
  .footer-menu {
    > li {
      display: block;
    }
  }
}

@media all and (max-width: 480px) {
  .location-list {
    > li {
      width: 100%;
    }
  }
  .our-services-list {
    > li {
      width: 100%;
    }
  }
  .our-clients-logo-list {
    > li {
      width: 100%;
      padding: 0;
    }
  }

}
@media all and (max-width: 440px) {
  .case-mobile {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
    .swiper-pagination {
      display: block;
    }
  }
}

@media all and (max-width: 420px) {
  .section-page-banner{
    &.vertical-align {
      .container {
        height: 230px;
      }
    }
  }
  .banner-box {
    height: 180px;
    background-image: none;
  }
  .section-page-banner {
    &:after {
      position: absolute;
      content: '';
      width: 350px;
      height: 160px;
      left: 50%;
      bottom: 0;
      background-image: url(../../img/whitebrush-tamed-1.png);
      @include css3-prefix('transform', 'translate(-50%, 0)');
      @include bg(center bottom, contain, no-repeat);
      z-index: 5;
    }
  }


}

@media all and (max-width: 380px) {
  .post-img-wrap {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

}

@media all and (max-width: 360px) {
  #sidebar {
    float: none;
    max-width: 100%;
    margin-left: 0;
  }
}

@media all and (max-width: 350px) {

}