/*fonts*/
$font-main: 'Lato', Arial, sans-serif;
$font-pt: 'PT Sans', $font-main;
$font-sfns: 'SFNS Display', $font-main;
$font-heading: 'Hikou Rough', $font-main;

/*fonts-weight*/
$normal: 400;
$medium: 500;
$bold: 700;

/*fonts-size*/
$size-small: 12px;
$size-main: 18px;
$size-input: 18px;
$size-heading1: 44px;
$size-heading2: 40px;
$size-heading3: 28px;

/*line-height*/
$line-height: 1.6;
$line-height-heading: 1;

/*colors*/
$white: #ffffff;
$black: #000000;
$color-text: #37546D;
$color-text2: #313b43;
$color-text3: #DB9C39;
$color-text4: #2a425a;
$color-text5: #d18b2c;
$color-nav: #00334E;
$color-bg1: $white;
$color-bg2: #d18b2c;
$color-bg3: #2a425a;
$color-bg4: #d5d5d5;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 10px;
$radius-small: 5px;


////////////////////////
//      Settings      //
////////////////////////

// overlay
$mfp-overlay-color:                   $black;                     // Color of overlay screen
$mfp-overlay-opacity:                 0.8;                        // Opacity of overlay screen
$mfp-shadow:                          0 0 8px rgba(0, 0, 0, 0.6); // Shadow on image or iframe

// spacing
$mfp-popup-padding-left:              8px;                        // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px;                        // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040;                       // Base z-index of popup

// controls
$mfp-include-arrows:                  true;                       // Include styles for nav arrows
$mfp-controls-opacity:                1;                          // Opacity of controls
$mfp-controls-color:                  $white;                     // Color of controls
$mfp-controls-border-color:           $white;                     // Border color of controls
$mfp-inner-close-icon-color:          $white;                     // Color of close button when inside
$mfp-controls-text-color:             #CCC;                       // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       $white;                     // Hover color of preloader and "1 of X" indicator
$mfp-IE7support:                      true;                       // Very basic IE7 support

// Iframe-type options
$mfp-include-iframe-type:             true;                       // Enable Iframe-type popups
$mfp-iframe-padding-top:              40px;                       // Iframe padding top
$mfp-iframe-background:               #000;                       // Background color of iframes
$mfp-iframe-max-width:                900px;                      // Maximum width of iframes
$mfp-iframe-ratio:                    9/16;                       // Ratio of iframe (9/16 = widescreen, 3/4 = standard, etc.)

// Image-type options
$mfp-include-image-type:              true;                       // Enable Image-type popups
$mfp-image-background:                #444 !default;
$mfp-image-padding-top:               40px;                       // Image padding top
$mfp-image-padding-bottom:            40px;                       // Image padding bottom
$mfp-include-mobile-layout-for-image: true;                       // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #F3F3F3;                    // Caption title color
$mfp-caption-subtitle-color:          #BDBDBD;                    // Caption subtitle color
//.mfp-counter { font-family: $alt-font; }                          // Caption font family

// A11y
$mfp-use-visuallyhidden:              false;